<!-- <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD7a8bxBgY5NSPu-xtBBrbI_W7FLAbp478&q=Space+Needle,Seattle+WA" allowfullscreen>
</iframe> -->

<div ng-controller="mapController" id="map"></div>
<div class="categories">
  <div class="mode">Mode</div>
  <div class="price">Price</div>
  <div class="eta">ETA</div>
</div>
<div>{{message}}</div>
<!-- <div class="rate-content">
  <div ng-repeat></div>
</div> -->

<!-- <table class="table table-bordered" ng-repeat="rate in ocw.modules">
<tr>
    <td>
        <h3 class="moduletitle">{{ module.title }}</h3>
        <h4>Description</h4>
        <p>{{ module.description }}</p>
    </td>
</tr>
<tr ng-repeat="week in module.weeks">
    <td>
        {{ week.title }}
    </td>
</tr>
</table> -->
