$font: 'Helvetica Neue', Helvetica, sans-serif;

html {
  font-family: $font;
}

.ridesharing-header{
  width: 100%;
  box-shadow: 0px 5px 20px rgba(0,0,0,.3);


  .ridesharing-title{
    font-size: 6em;
    font-weight: 500;
  }
}

.special-consid-modal{
  position: absolute;
  text-align: center;
  display: none;
  margin-left: 30%;
  width: 200px;
  height: auto;
  border: 1px solid black;
  color: black;
  background-color: white;
}

.special-consid-modal.show{
  display: inline-block;
}

.ridesharing-costs {
  margin-top: 5%;
  width: 100%;

    .ridesharing-special {
      font-weight: 600;
      width: 50%;
      color: red;
      display: inline-block;

      .fa-exclamation-circle {
        margin-left: 10px;
        margin-right: 3px;
      }

      .fa-info-circle{
        vertical-align: top;
        font-size: .9em;
        margin-left: 2px;
        color: black;
      }
    }

    .ridesharing-cost-title{
      display: inline-block;
      font-size: 3em;
      font-weight: 500;
    }

    .ridesharing-car-3 {
      border: none;
    }

    li {
      padding-top: 5px;
      padding-bottom: 2px;
      border-bottom: 3px solid rgb(128,128,128);
      font-size: 1.5em;

      h3 {
        display: inline-block;
        width: 49%;
      }

      p {
        font-weight: 600;
        display: inline-block;
        width: 49%;
        text-align: right;

        small {
          font-size: .6em;
          vertical-align: top;
        }

      }

      h2 {
        font-size: 1em;
        width: 49%;
        display: inline-block;
      }
    }

}

.ridesharing-eta {
  margin-top: 5%;
  width: 100%;

  .ridesharing-eta-title{
    // @extend .ridesharing-cost-title;
    font-size: 3em;
    font-weight: 500;
  }

  .ridesharing-total-eta {
    border: none;
  }

  li {
    padding-top: 5px;
    padding-bottom: 2px;
    border-bottom: 3px solid rgb(128,128,128);
    font-size: 1.5em;

    h3 {
      display: inline-block;
      width: 49%;
    }

    p {
      font-weight: 600;
      display: inline-block;
      width: 49%;
      text-align: right;
    }

    h2 {
      font-size: 1.5em;
      width: 49%;
      display: inline-block;

    }
    .ridesharing-total-min {
      font-size: 1.5em;
    }
  }
}

.ridesharing-go{
  margin-top: 5%;
  margin-right: 7px;
  background-color: #57b74d;
  width: 100px;
  height: 75px;
  padding-top: 25px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  float: right;
}
