$width:100%;
$border:none;

html{
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 12pt;
}
$headerHeight:3.6em;

.header-container{
  font-weight:600;
  background-color:#efefef;
  width:$width;
  height:$headerHeight;
  border:$border;
  text-align: center;
  overflow:hidden;

  .header-left{
    background-color: #57b74d;
    float:left;
    color:white;
    width:$width/4;
    text-align: center;
    padding:.7em 0 1em 0;
    font-size: 1.4em;
    border:$border;
  }
  .rider-logo{
    height:3em;
    display: inline-block;
    border:$border;
    margin-top:.7em;
    svg{
      height:2.3em;
    }
  }
  .header-right{
    background-color: #57b74d;
    float:right;
    width:$width/4;
    text-align: center;
    font-size: 1.4em;
    padding:.2em 0 .2em 0;
    border:$border;
    svg{
      height:2.3em;
    }
  }
}

.hamburger-menu {
  display: none;

.ham-caret{
  margin-left: 85%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid gray;
}

.ham-nav{
  position: absolute;
  font-size: 2em;
  color: white;
  background-color: gray;
  width: 100%;

    li{
      padding-top: 10px;
      padding-bottom: 10px;
      a{
        color: white;
        text-decoration: none;
      }
    }
  } //closes ham-nav
} //closes hamburger-menu



.hamburger-menu.show{
  display:block;
}
