<!-- <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD7a8bxBgY5NSPu-xtBBrbI_W7FLAbp478&q=Space+Needle,Seattle+WA" allowfullscreen>
</iframe> -->
<div ng-controller = "mainController">
  <div id="map" class="map"></div>
  <div class="container">
  <div class="loading-dialog" data-loading></div>
      <div class="rates-container">
        <div class="categories">
          <div class="mode">Mode</div>
          <div class="price">Price</div>
          <div class="eta">ETA</div>
        </div>
        <div class="results-container">
      <div ng-repeat="rate in ridesharing" class="rates-item">
        <div class="travel-type">{{rate.travel_type}}</div><!--
     --><div class="rates-price"><div class="rate-dollar-sign">$</div>{{rate.price_min}}
        &ndash;
        {{rate.price_max}}</div><!--
        --><div class="rate-eta"><!--
        --><div class="rate-eta-number">{{rate.eta}}</div>
            </div>
             <a href="#/Ridesharing" ng-click="clickedRideshare($index)" class="rates-arrow">
               <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                	 viewBox="0 0 98.5 66.5" style="enable-background:new 0 0 98.5 66.5;" xml:space="preserve">
                <style type="text/css">
                	.st0{fill:#57B950;}
                	.st1{fill:#FFFFFF;}
                </style>
                <rect class="st0" width="98.5" height="66.5"/>
                <path class="st1" d="M33.4,30.3v6.3c0,0.2,0.2,0.4,0.4,0.4h16.9c0.3,0,0.5,0.4,0.3,0.6l-8.8,8.8c-0.5,0.5-0.1,1.2,0.5,1.2h7.2
                	c0.7,0,1.3-0.3,1.7-0.7l13.4-13.4L51.7,20.1c-0.5-0.5-1.1-0.7-1.7-0.7h-7.2c-0.6,0-1,0.8-0.5,1.2l8.8,8.8c0.2,0.2,0.1,0.6-0.3,0.6
                	H33.8C33.6,30,33.4,30.1,33.4,30.3z"/>
               </svg>
             </a>
      </div><!--  closes ng repeat for ridesharing -->

      <div ng-repeat="transit in publicTransit" class="rates-item">
        <div class="travel-type">{{transit.travel_type}}</div><!--
     --><div class="rates-price"><div class="rate-dollar-sign">$</div>{{transit.price_min}}
        &ndash;
        {{transit.price_max}}</div><!--
        --><div class="rate-eta"><!--
        --><div class="rate-eta-number">{{transit.eta}}</div><!--
        --><div class="rate-min rate-min-transit" ng-show="transitMinFunc()">min</div>
            </div>
             <a href="#/PublicTransit" ng-click="clickedTransit($index)" class="rates-arrow">
               <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 98.5 66.5" style="enable-background:new 0 0 98.5 66.5;" xml:space="preserve">
                <style type="text/css">
                 .st0{fill:#57B950;}
                 .st1{fill:#FFFFFF;}
                </style>
                <rect class="st0" width="98.5" height="66.5"/>
                <path class="st1" d="M33.4,30.3v6.3c0,0.2,0.2,0.4,0.4,0.4h16.9c0.3,0,0.5,0.4,0.3,0.6l-8.8,8.8c-0.5,0.5-0.1,1.2,0.5,1.2h7.2
                 c0.7,0,1.3-0.3,1.7-0.7l13.4-13.4L51.7,20.1c-0.5-0.5-1.1-0.7-1.7-0.7h-7.2c-0.6,0-1,0.8-0.5,1.2l8.8,8.8c0.2,0.2,0.1,0.6-0.3,0.6
                 H33.8C33.6,30,33.4,30.1,33.4,30.3z"/>
               </svg>
             </a>
      </div> <!-- closes transit in publictransit -->


      <div class="rates-item">
        <div class="travel-type">{{taxi.travel_type}}</div><!--
     --><div class="rates-price"><div class="rate-dollar-sign">$</div>{{taxi.price_min}}
        &ndash;
        {{taxi.price_max}}</div><!--
        --><div class="rate-eta"><!--
        --><div class="rate-eta-number">{{taxi.eta}}</div>
            </div>
             <a href="#/Taxi" ng-click="clickedRideshare($index)" class="rates-arrow">
               <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 98.5 66.5" style="enable-background:new 0 0 98.5 66.5;" xml:space="preserve">
                <style type="text/css">
                 .st0{fill:#57B950;}
                 .st1{fill:#FFFFFF;}
                </style>
                <rect class="st0" width="98.5" height="66.5"/>
                <path class="st1" d="M33.4,30.3v6.3c0,0.2,0.2,0.4,0.4,0.4h16.9c0.3,0,0.5,0.4,0.3,0.6l-8.8,8.8c-0.5,0.5-0.1,1.2,0.5,1.2h7.2
                 c0.7,0,1.3-0.3,1.7-0.7l13.4-13.4L51.7,20.1c-0.5-0.5-1.1-0.7-1.7-0.7h-7.2c-0.6,0-1,0.8-0.5,1.2l8.8,8.8c0.2,0.2,0.1,0.6-0.3,0.6
                 H33.8C33.6,30,33.4,30.1,33.4,30.3z"/>
               </svg>
             </a>
      </div>  <!-- closes taxi -->
      </div>
      </div>

  </div>
